<nav>
  <div class="main-nav">
    <h1>IS IT <strong>RIPE</strong> YET?</h1>
    <i id="menu-btn" class="fas fa-bars"></i>
  </div>
  <ul>
    <li><h2>MY FRUIT</h2></li>
    <li>
      <h2 id="add-fruit">ADD FRUIT</h2>
      <form action="/fruit/add" id="add-fruit-form">
        <label for="fruit-name"
          >Name: <input type="text" name="name" id="fruit-name" required lowercase
        /></label>
        <label for="fruit-type"
          >Type: <input type="text" name="type" id="fruit-type" required
        /></label>
        <label for="fruit-color"
          >Color:
          <div class="add-fruit-div">
            <select name="color" id="fruit-color">
              <option value="0"></option>
              <option value="1">Audi</option>
              <option value="2">BMW</option>
              <option value="3">Citroen</option>
              <option value="4">Ford</option>
              <option value="5">Honda</option>
              <option value="6">Jaguar</option>
              <option value="7">Land Rover</option>
              <option value="8">Mercedes</option>
              <option value="9">Mini</option>
            </select>
          </div>
        </label>
        <label for="fruite-date"
          >Bought: <input type="text" name="bought" id="fruit-date" placeholder="YYYY-MM-DD"
        /></label>
        <button type="submit"><p>ADD FRUIT</p></button>
      </form>
    </li>
  </ul>
</nav>
