<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %> <%if (user) { %>
    <h2>Welcome <%= user.name %>!</h2>
    <% } else { %>
    <a href="/login">LOGIN</a>
    <a href="/signup">SIGN UP</a>
    <a href="/auth/google">LOGIN WITH GOOGLE</a>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"> </fb:login-button>
    <% } %>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: '{your-app-id}',
          cookie: true,
          xfbml: true,
          version: '{api-version}',
        });

        FB.AppEvents.logPageView();
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');
    </script>
  </body>
</html>
