<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/banana.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %> <% if (results.length > 0) { %> <% results.forEach(result => { %>
    <div class="search-result">
      <h4><%= result.name %></h4>
      <form action="/search/<%= result._id %>" method="POST">
        <button type="submit">Add Friend</button>
      </form>
    </div>
    <% }) %> <%} else { %>
    <p>Hm... I don't seem to be able to find anyone by that name..</p>
    <%}%>
  </body>
</html>
