
.fruit-show-color {
    width: 100px;
    height: 100px;
}
.banana-color-0 {
    background-color: var(--banana-0)
}
.banana-color-1 {
    background-color: var(--banana-1)
}
.banana-color-2 {
    background-color: var(--banana-2)
}
.banana-color-3 {
    background-color: var(--banana-3)
}
.banana-color-4 {
    background-color: var(--banana-4)
}
.banana-color-5 {
    background-color: var(--banana-5)
}
.banana-color-6 {
    background-color: var(--banana-6)
}
.banana-color-7 {
    background-color: var(--banana-7)
}
.banana-color-8 {
    background-color: var(--banana-8)
}
.banana-color-9 {
    background-color: var(--banana-9)
}