* {
    --banana-0: #86a529;
    --banana-1: #a8c552;
    --banana-2: #C6E079;
    --banana-3: #d9e079;
    --banana-4: #F8E177;
    --banana-5: #ffe46a;
    --banana-6: #ebce4d;
    --banana-7: #bba130;
    --banana-8: #947f21;
    --banana-9: #312b0e;
}
.fruit-show-color {
    width: 100px;
    height: 100px;
}
.banana-color-0 {
    background-color: var(--banana-0)
}
.banana-color-1 {
    background-color: var(--banana-1)
}
.banana-color-2 {
    background-color: var(--banana-2)
}
.banana-color-3 {
    background-color: var(--banana-3)
}
.banana-color-4 {
    background-color: var(--banana-4)
}
.banana-color-5 {
    background-color: var(--banana-5)
}
.banana-color-6 {
    background-color: var(--banana-6)
}
.banana-color-7 {
    background-color: var(--banana-7)
}
.banana-color-8 {
    background-color: var(--banana-8)
}
.banana-color-9 {
    background-color: var(--banana-9)
}