*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --nav-grey: #707070;

  --banana-0: #86a529;
  --banana-1: #a8c552;
  --banana-2: #C6E079;
  --banana-3: #d9e079;
  --banana-4: #F8E177;
  --banana-5: #ffe46a;
  --banana-6: #ebce4d;
  --banana-7: #bba130;
  --banana-8: #947f21;
  --banana-9: #312b0e;

}
a:visited,
a {
  color: var(--nav-grey);
  text-decoration: none;
}
body {
  background-color: #ddd;;
}
nav div.main-nav{
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #C6E079;
  font-size: 33px;;
  color: var(--nav-grey);
  padding-right: 25px
}
nav div h1 {
  font-size: 33px;
  flex: 1;
  text-align: center;
  color: var(--nav-grey);
}
nav div h1 strong {
  color: #F8E177;
  font-size: 50px;
  -webkit-text-stroke: 2px var(--nav-grey);
}

nav ul {
  display: none;
}

nav ul.showing {
  display: block;
  background-color: #fff;
}
nav li {
  margin: 2px 0;
}
nav li h2 {
  background-color: var(--banana-4);
  font-size: 50px;
  text-align: center;
  color: var(--nav-grey)
}

nav li form {
  display: none;
}

nav li form.showing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  /* padding: 10px; */
}

nav form label,
nav form button {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 7px 0;
  padding: 15px;
  border: 5px solid var(--nav-grey);
  border-radius: 25px;
  font-size: 24px;
}
nav form button p {
  width: 100%;
  text-align: center;
}
nav form button:hover {
  border: 5px solid var(--nav-grey);
  background-color: #dddddd;
  color: var(--nav-grey);
}
nav form button {
  border: 5px solid var(--nav-grey);
  background-color: var(--nav-grey);
  color: #ddd;
}
nav form input {
  height: 75px;
  width: 200px;
  border: 5px solid var(--nav-grey);
  font-size: 100px;
}
nav form input:last-child {
  padding-left: 5px;
  font-size: 22px;
  text-align: center;
}
#add-fruit {
  cursor: pointer;
}
.add-fruit-div select {
  display: none;
}
.add-fruit-div {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
.option {
  width: 40px;
  height: 40px;
}
.option-0 {
  background-color:var(--banana-0);
}
.option-1 {
  background-color: var(--banana-1);
}
.option-2 {
  background-color: var(--banana-2);
}
.option-3 {
  background-color: var(--banana-3);
}
.option-4 {
  background-color: var(--banana-4);
}
.option-5 {
  background-color: var(--banana-5);
}
.option-6 {
  background-color: var(--banana-6);
}
.option-7 {
  background-color: var(--banana-7)
}
.option-8 {
  background-color: var(--banana-8)
}
.option-9 {
  background-color: var(--banana-9)
}
.option-selected {
  border: 5px solid red;
}