@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --nav-grey: #707070;

  --banana-0: #86a529;
  --banana-1: #a8c552;
  --banana-2: #C6E079;
  --banana-3: #d9e079;
  --banana-4: #F8E177;
  --banana-5: #ffe46a;
  --banana-6: #ebce4d;
  --banana-7: #bba130;
  --banana-8: #947f21;
  --banana-9: #312b0e;

}
a:visited,
a {
  color: var(--nav-grey);
  text-decoration: none;
}
body {
  background-color: #ddd;
  font-family: 'Roboto', sans-serif;
}
nav div.main-nav{
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #C6E079;
  font-size: 33px;;
  color: var(--nav-grey);
  padding-right: 25px
}
nav div h1 {
  font-size: 33px;
  flex: 1;
  text-align: center;
  color: var(--nav-grey);
  
}
nav div h1 strong {
  color: #F8E177;
  font-size: 50px;
  -webkit-text-stroke: 2px var(--nav-grey);
}

nav ul {
  display: none;
}

nav ul.showing {
  display: block;
  background-color: #fff;
}
nav li {
  margin: 2px 0;
}
nav li h2 {
  background-color: var(--banana-4);
  font-size: 50px;
  text-align: center;
  color: var(--nav-grey)
}

nav li form {
  display: none;
}

nav li form.showing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  /* padding: 10px; */
}

nav form label,
nav form button {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 7px 0;
  padding: 15px;
  border: 5px solid var(--nav-grey);
  border-radius: 25px;
  font-size: 24px;
}
nav form button p {
  width: 100%;
  text-align: center;
}
nav form button:hover {
  border: 5px solid var(--nav-grey);
  background-color: #dddddd;
  color: var(--nav-grey);
}
nav form button {
  border: 5px solid var(--nav-grey);
  background-color: var(--nav-grey);
  color: #ddd;
}
nav form input {
  height: 75px;
  width: 200px;
  border: 5px solid var(--nav-grey);
  font-size: 100px;
}
nav form input:last-child {
  padding-left: 5px;
  font-size: 22px;
  text-align: center;
}
#add-fruit {
  cursor: pointer;
}
.add-fruit-div select {
  display: none;
}
.add-fruit-div {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
.option {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

.option img {
  width: 100%;
}

.option-selected {
  border: 5px solid red;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 90vh;
}

.google-container {
  background-color: #fff;
  width: 75%;
  height: 50px;
  font-size: 23px;
  border-radius: 5px;
}

.google {
  background: #4285F4;
  color: #DB4437;
  padding: 5px;
  font-size: 38px;
  border-radius: 10px;
}

.login-container {
  width: 95%;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
}
.login-container form {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--nav-grey);
}

.login-container input,
.login-container button {
  height: 75px;
  width: 80%;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid var(--nav-grey);
}
.login-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn-container button {
  width: 50%;
  background-color: var(--nav-grey);
  color: white;
}
.login-btn-container a {
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 50px;
}

header form {
  display: flex;
  align-items: center;
  height: 40px;
}

header button {
  width: 40px;
}

main.logged-in {
  background-color: #fff;
}
.fruit-show {
  width: 100px;
  height: 100px;
}
.index-card {
  width: 90%;
  height: 150px;
  border: 4px solid var(--nav-grey);
  border-radius: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-user-box,
.index-fruit-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.index-fruit-box p strong{
  font-size: 1.1em;
}
.index-user-box img,
.index-fruit-box img,
.result-user-box img {
  width: 100px;
  border: 3px solid var(--nav-grey);
  border-radius: 10px;
}
.index-fruit-box img {
  width: 75px;
  height: 75px
}

.signup-form-container {
  width: 90%;
  height: 60vh;
  background-color: #fff;
}
.signup-form {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.signup-form label,
.signup-form button {
  border: 3px solid var(--nav-grey);
  height: 50px;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup-form input {
  height: 30px;
}
.signup-form button:hover {
  background-color: #fff;
  color: var(--nav-grey);
}
.signup-form button {
  background-color: var(--nav-grey);
  color: #fff;
  display: flex;
  justify-content: center;
}

.search-result {
  background-color: #fff;
  width: 100%;
  height: 150px;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--nav-grey);
  border-radius: 5px;
}

.profile-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}
.profile-header img {
  width: 100px;
}

main.profile-main {
  justify-content: flex-start;
  padding: 20px;
}

.profile-card {
  width: 90%;
  height: 150px;
  border: 3px solid var(--nav-grey);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-fruit-box,
.profile-fruit-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-fruit-box img {
  width: 75px;
}

